*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F6F6F6;
}
.container{
    padding: 7vh;
}
div{
    padding: 1vh;
}
.title {
    color: #607D6A;
    font-family:  "Lexend Deca", sans-serif;
    font-weight: bold;
    font-size: 3.5vh;
}
.subtitle {
    color: #999999;
    font-family:  "Lexend Deca", sans-serif;
    font-weight: 500;
    font-size: 2vh;
    text-decoration: none;
}
.text {
    color: #999999;
    font-family:  "Lexend Deca", sans-serif;
    font-size: 1.9vh;
    font-weight: 300; 
    margin-top: 2vh;   
}
.line{
    border-bottom : 1px solid #ccc; border-bottom-width: 10%;
    margin: 8vh 2vh;
}

button {
    background-color: #607D6A;
    color: #fff;
    font-family:  "Lexend Deca", sans-serif;
    font-weight: bold;
    border: none;
    font-size: 2vh;
    padding: 2vh 4vh;
    border-radius: 2vh;
    margin-bottom: 1vh;
}
button:hover{
    cursor: pointer;
}


.logo-slogan{
    display: flex; 
    justify-content: center;
    margin-top: 15vh;
}

header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 9vh;
}

.app-icon{
    height: 30vh;
}
.gallery{
    height: 10vh;
    border-radius: 1vh;
    margin: 0.25vh;
}
header .gallery:hover{
    cursor: pointer;
}
.info{
    margin-bottom: 10vh;
}

footer{
    padding:10vh;
    background-color: #607D6A;
    height: 50vh;
}
